<div align=right>
 <a href="http://xepb.ru/dtz/">DtZ</a>, Y82 MAPA3M Research, XEPb.ru Presents<br />
 <font size="-2">Note: note the russian spelling of "blya-blya-blya!"</font>
</div>


<br />
<center>
<a href="http://xepb.ru/dtz/gifs/2013Z80/sg_front.png"><img src="http://xepb.ru/dtz/gifs/2013Z80/Previews/sg_front.png"></a>
<a href="http://xepb.ru/dtz/gifs/2013Z80/sb_back.png"><img src="http://xepb.ru/dtz/gifs/2013Z80/Previews/sb_back.png"></a>
</center>
<br>

<br />
20140924 - SHDC support and new release (2491)<br/>
20140904 - new relase (2490)<br/>
20140320 - Some minor text clean ups<br/>
20140316 - I suspect a stack overflow. Use ChB or enlarge stack in monitor.asm (not fixed yet)<br/>
20140210 - error on scheme found (pins 3 and 1 of UM1:1 was wrong; now corrected on scheme)<br/>
20130620  Last software update release 2360 <br />
<br />

<b><font size="+1">Preface</font></b>
<br />
<br />
 This is SD card interface for <a href="http://searle.hostei.com/grant/cpm/index.html">
 Grant Searle's </a> CP/M computer. Originally it has CF interface.
 Schematics of SD interface  <a href="http://z80xxi.livejournal.com/2499.html">
<img src="http://xepb.ru/z80xxi/201212/cf1.png"</a> 
<a href="http://z80xxi.livejournal.com/2499.html"><br />here</a>, but  
 <b>in earlier versions of the scheme UM1:2 5 and UM1:1 2 was connected to U5:13. Correted. (Now on Pin 14)</b>
<br/>
<br /> <b>Fotos <a href="http://s1048.beta.photobucket.com/user/dreadbit/library/Computers%20and%20around/Seale%20Grants%20SBC%20with%20DtZs%20SD%20card%20interface">here</a></b>
<br />
<br />

<br />
<b><font size="+1">Licence</font></b>
<br />
<br />

I use some code from <a href="http://searle.hostei.com/grant/">Grant Searle</a>. 
I have his permission to redistribute this software as part of my work. So the licence should be 
like that:<br />
<i>&nbsp;The parts of the software written by Grant Searle is written by Grant Searle or was got
by Grant Searle I-do-not-know-where-and-ask-him; <br/>
&nbsp;The code written by DtZ should be treated as public domain with the following limitation:
<ul>
<li>&nbsp;-no part of this code, or the whole code may be licenced or patented on any territory or worldwide,
or limited by other legal way</li>
<li>&nbsp;-DtZ may use this software according any different licence, but that may not affect or limit other
users of the released software</li>
</i>
</ul>
<br />

<b><font size="+1">Current limitations</font></b>
<br />
<br />
<p>First, it works with <s>some</s> <i>UPD 201409: most!</i>  SD cards. 
Versions before 2491 did not work with SDHC. Still nothing is
known about SDXC cards, but I suspect they will not work.<br/> 
So, for cards are more then 4G you should use SDHC version (read more).
It (non-SDHC version) may work with MMC, or may not, I've not tested</p>
<p> If you use cards less then 128M, you will
be able to work only with the first disks - saying from A: to C:.</p>
<p>Hotplug is not supported and I believe never will be</p>
<br/>

<br />
<br />
<b><font size="+1">Making bootable SD card</font></b>
<br />
<br />

<b>Compiling under linux (and generally unix, I've tried MacOSX 10.4/ppc too):</b><br/>
<font size=-1> if you do not want to compile, skip to <a href="#write">here</a></font>
<br/><br/>

First, get tpasm http://www.sqrt.com/ <A href="ftp://ftp.ct0.com/pub/tpasm.tgz"> ftp://ftp.ct0.com/pub/tpasm.tgz </a> 
(or check my site - I probably <a href="http://xepb.ru/dtz/softlib/tpasm.tgz">have a mirror</a>)
<br/>

Next, install (or check you have installed) TCL, 8.3 and later is ok, maybe 8.2, I do not remember if 8.1 ok. I
use it as a part of linking tools (<code>mload.tcl</code>), or you may rewrite it the way you like.
<br/>

You may want to link C000 based system or CE00 based one.<br/>
The clear thing is that CE00 system gives you more TPA. From the other point, if you want to 
rebuild system on board, you may want to use C000 one.<br/>
The trick is that C000 based system occupies first 16K (so starts from  track 0/sector 0);
CE00 system starts with E00 unused bytes. That's generally not a feature, but bug I'll 
fix sometimes later.


<br />
<code>
cd BIOS<br />
./MakeBIOS_CE00<br />
</code>
or, for SDHC,
<code>
cd BIOS<br />
./MakeBIOS_SDHC_CE00<br />
</code>

<br/>

You'll get <code>cbios_CE00.hex</code> (replace CE00 to C00 if you want C000 based
system; add _SDHC for SDHC version) 
and <code>labels.lst</code> <br/>
Check <code>labels.lst</code> for you have exceeded 64k. <code>hstBufEnd</code> must be less FF00.<br/>
If not, you have to lower TPA (that may happen if you modified cbios.asm for some your's needs). 
If you have 48k TPA currently (C000 system) and exceeded 64k, you are in BIG trouble (that's not possible
if you did not modifed BIOS heavily)
<br/>


Next, compile CP/M by <code>MakeCPM_CE00</code> , you'll get <code>cpm22_CE00.hex</code>
Clear thing is that SDHC version of CP/M is exactly the same as non SDHC -
CP/M does not know anything about that ;-)
<br/>

Next, create system by <code>./createimage_CE00</code> 
(or <code>./createimage_SDHC_CE00</code>) , you'll get <code>image.img</code>. 
It takes some time. It takes significant time on MacOSX 10.4 @ iBook G3/500 !
<br/>

<br/>
<b><a name="write"> Making boot media</a> </b><br/>

Then insert your's SD card in reader, find it as /dev/sdX, 
<b>be very carefull</b>, because if you write this to your's boot drive, you'll make it unusable.<br />
Became root and write filesystem to SD (~16M)<br />
<code>
dd if=notempty.img of=/dev/sd<i>X</i>
</code>
<br />
Next, write the system to the first track of SD
<br>
<code>
dd if=image.img of=/dev/sd<i>X</i>
<br/>
</code><br />
Select image with <code>SDHC</code> in name if you write to SDHC cards and image with no <code>SDHC</code>
if you are writing to SD card<br />
The distribution may contain different system images (C000 and CE00 to name), number probably indicates TPA, 
<code>D</code> means debug, avoid it if you no not need debug.

<br/>
<br/>
<b> Booting and loader </b><br/>
<br/>
You have two options: either burn an rom image (or rebuild it and burn) or use a loader.<br>
<br/>
If you are using a loader, start your's SBC, locate some <code>loader.hex</code> 
in distribution set and paste it into terminal window, then <br />
<code>G5000</code> it.<br />
<br/>
I provide an ROM image, it's included scince 2360 release as <code>rom.img</code>, you can burn it.<br />
<br/>
To compile stand-alone loader, goto Loader_and_ROM, run <code>MakeLoader</code> or <code>MakeLoaderDebug</code><br/>
To compile ROM image, first compile (optional) BASIC by <code>MakeBasic</code>, then <code>MakeMonitor</code>, then
<code>createROM</code> - you'll get 32k of <code>rom.img</code>, burn it.

<br/>
<br/>
<b><font size="+1"> Implementation notes </font></b><br/>
<br/>
 The implementation is delivered from Grant Searle work, so it shares almost everything.<br />
 Scince 2340 is it based on IOBYTE aware SG's BIOS 1.0<br />
 Scince 2690 it appears to work</br>
 In Grant's CF BIOS, system is loaded from offset 0 of CF card - it takes $3000 bytes of $4000 bytes of the 
whole track-0 - to $D000 - $FFFF memory locations.<br />
 In my SD BIOS I load the whole $4000 bytes from track-0, but it does not mean 
the system always should be $4000 bytes - it may be shorter, saying $3000 bytes system should start from $1000
offset of SD card (as I said before)<br/>
 And yes, in non-C000 based systems that's not possible to regenerate CP/M inside CP/M; I'll fix it 
<a href="http://xepb.ru/dtz/sgsbcsd_tpa_notes.html">later</a><br />
<br/>
CPMTOOLS Defs for disk A: of those image:
<code>
<pre>
diskdef sga
    seclen      512
    tracks      512
    sectrk      32
    blocksize   4096
    maxdir      512
    boottrk     1
    os  2.2
end
</pre>
</code>
On Solaris/Sparc I access the disk as
<code>
/usr/local/bin/cpmls -f sga /vol/dev/dsk/c2t0d0/unknown_format
</code>,
on Linux just as /dev/sdb
<br/>
<br/>
<b><font size="+1"> Feedback </font></b><br/>
<br/>
Use <a href="http://z80xxi.blogspot.com">http://z80xxi.blogspot.com/</a> for feedback</a>


<br/>
<br/>
<b><font size="+1"> Distribution set </font></b><br/>
<br/>

Distribution set naming<br/>
<code>
sgsbcsdYYMV.tar.gz
</code>
<i>sgsbcsd</i> is the name of the project, <i>YY</i> is decimal years from 1990 (as for all DtZ's software), M
is [1-b] month,V is [0-9a-z] release of the file<br />
<br />

20140925<br/>
0.00.04 / 2491 <br/>
<a href="http://xepb.ru/dtz/files/sgsbcsd2491.tar.gz">sgsbcsd2491.tar.gz </a>
Version with (optional) SDHC version / 2491 <br/>

20140904<br/>
0.00.03 / 2490 <br/>
<a href="http://xepb.ru/dtz/files/sgsbcsd2490.tar.gz">sgsbcsd2490.tar.gz </a> Huge error fix <br/>

20140316<br>
Those old versions contained a bug making ChanB of SIO fully useless
<br />
<a href="http://xepb.ru/dtz/files/sgsbcsd2360.tar.gz">sgsbcsd2360.tar.gz </a> ROM image included 0.00.02 / 2360 <br/>
<a href="http://xepb.ru/dtz/files/sgsbcsd2340.tar.gz">sgsbcsd2340.tar.gz </a> Sync with Searle Grants' 1.0 release
 0.00.02 / 2340 <br/>
<a href="http://xepb.ru/dtz/files/sgsbcsd2323.tar.gz">sgsbcsd2323.tar.gz </a> Relink release 0.00.01 / 2323 <br/>
CE00/55046 TPA version relink release (and read <a href="http://xepb.ru/dtz/sgsbcsd_tpa_notes.html"> this </a>)
 and minor changes in loader<br />
For assemling use <code>BIOS/MakeBDOS_CE00</code> , next  <code>MakeCPM_CE00</code>, next <code>createimage_CE00</code>
<br />
<a href="http://xepb.ru/dtz/files/sgsbcsd2322.tar.gz">sgsbcsd2322.tar.gz </a> Bugfix release 0.00.01 / 2322 <br/>
Notice: 20130204 looks like error caught, wait for bugfix release<br />
Notice: bugfix release sgsbcsd2322.tar.gz is expected 20130203-20130205<br />
Notice: looks like it have errors in current and fothcoming release ;-) on write block (and possibly warm boot)
- if you use debug version of system you may help<br />
<a href="http://xepb.ru/dtz/files/sgsbcsd2321.tar.gz">sgsbcsd2321.tar.gz </a> Initial release 0.00.01 / 2321 <br/>
<br />
